$primaryColor: #B10000;
$secondaryColor: #E74100;

$backgroundColor: #222224;

// Couleurs pour les barres
$healthBarStart: #ff3b3b;
$healthBarEnd: #b30000;
$expBarStart: #4caf50;
$expBarEnd: #2e7d32;
$barBackground: rgba(255, 255, 255, 0.1);

// Couleurs pour les arrière-plans
$expBarBackground: #1a1a1a;
$expBarBackgroundLight: #2d2d2d;

// Couleurs dorées pour l'expérience
$goldStart: #ffd700;
$goldEnd: #b8860b;

$primaryFont: 'Quicksand', sans-serif;
$secondaryFont: 'Rye', sans-serif;