@use "../../styles/variables" as vars;

.container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 10rem;
}

.stats {
  position: absolute;
  left: 2rem;
  bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  pointer-events: auto;
}

.levelContainer {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  pointer-events: auto;

  .levelLabel {
    font-family: vars.$primaryFont;
    color: vars.$primaryColor;
    font-size: 0.8rem;
    font-weight: bold;
    letter-spacing: 1px;
  }
}



.statsGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: .5rem;
  justify-items: center;
  align-items: center;
}

.statItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}



.moneyContainer {
  position: absolute;
  bottom: 1rem;
  right: 2rem;
  pointer-events: auto;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  .moneyValue {
    font-family: vars.$secondaryFont;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: baseline;

    .moneyCents {
      font-size: 1.2rem;
    }

    svg{
      width: 3rem;
      height: 3rem;
      display: flex;
      align-items: end;
      path{
      stroke: vars.$secondaryColor ;
      }
    }
  }
}